<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anupam Mondal">
    <meta name="web_author" content="anupammondal.in">
    <meta name="reply-to" content="a9051985@gmail.com">
    <meta name="contact" content="a09051985@gmail.com">
    <title>@ViewBag.Title | QUICK BRAIN</title>
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/zabuto_calendar.min.css">
    <link href="~/Content/anupam.css" rel="stylesheet">
</head>
<body onload="@ViewBag.Fun">
    <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <!-- <a class="navbar-brand" href="#">QUICK BRAIN</a> -->
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img alt="Brand" src="~/Content/QBLogo.png" class="img-responsive" title="Quick Brain Consultancy Pvt Ltd">
                </a>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home", "http", "localhost", "idabout", null, null)</li>
                    <li>@Html.ActionLink("Service", "Service", "Home")</li>
                    <li>@Html.ActionLink("Execution", "Execution", "Home")</li>
                    <li>@Html.ActionLink("Clients", "Clients", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a href="#" title=""><i class="fa fa-user"></i> Staff Login</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center txt-fff foot-sitemap">
                        2018 - 2019 © By Quick Brain Consultancy Pvt. Ltd.
                        <span style="padding-left: 20px;">@Html.ActionLink("Home | ", "Index", "Home")</span>
                        <span>@Html.ActionLink("About", "About", "Home", "http", "localhost", "idabout", null, null)</span>
                        <span>@Html.ActionLink("Service | ", "Service", "Home")</span>
                        <span>@Html.ActionLink("Execution | ", "Execution", "Home")</span>
                        <span>@Html.ActionLink("Clients | ", "Clients", "Home")</span>
                        <span>@Html.ActionLink("Contact", "Contact", "Home")</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/zabuto_calendar.min.js"></script>
    <script src="~/Scripts/anupam.js"></script>
    <script src="~/Scripts/anupamhome.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
